<?xml version="1.0" encoding="UTF-8"?>
<config> 
    <modules>
        <CodexMedia_SmartSend>
            <version>0.0.1</version>
            <depends>
                <Mage_Shipping />
            </depends>
        </CodexMedia_SmartSend>
    </modules>
    <frontend>
        <routers>
            <smartsend>
                <use>standard</use>
                <args>
                    <module>CodexMedia_SmartSend</module>
                    <frontName>smartsend</frontName>
                </args>
            </smartsend>
<!--             <checkout>
            	<args>
            		<modules>
            			<CodexMedia_SmartSend_Checkout before="Mage_Checkout">CodexMedia_SmartSend_Checkout</CodexMedia_SmartSend_Checkout>
            		</modules>
            	</args>
            </checkout> -->
        </routers>
    </frontend>
    <admin>
        <routers>
            <smartsend>
                <use>admin</use>
                <args>
                    <module>CodexMedia_SmartSend</module>
                    <frontName>smartsend</frontName>
                </args>
            </smartsend>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <CodexMedia_SmartSend>
	                        <title>Smart Send Module</title>
	                        <sort_order>10</sort_order>
                        </CodexMedia_SmartSend>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>  
    <global>
        <models>
            <smartsend>
                <class>CodexMedia_SmartSend_Model</class>
                <resourceModel>smartsend_resource</resourceModel>
            </smartsend>
            <smartsend_mysql4>
                <class>CodexMedia_SmartSend_Model_Mysql4</class>
                <entities>
                    <smartsend>
                        <table>smartsend</table>
                    </smartsend>
                </entities>
            </smartsend_mysql4>
        </models>
        <resources>
            <smartsend_setup>
                <setup>
                    <module>CodexMedia_SmartSend</module>
                    <class>CodexMedia_SmartSend_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smartsend_setup>
            <smartsend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smartsend_write>
            <smartsend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smartsend_read>
        </resources>
        <blocks>
            <smartsend>
                <class>CodexMedia_SmartSend_Block</class>
            </smartsend>
        </blocks>
        <helpers>
            <smartsend>
                <class>CodexMedia_SmartSend_Helper</class>
            </smartsend>
        </helpers>
        <sales>
            <shipping>
                <carriers>
                    <smartsend>
                        <class>CodexMedia_SmartSend_Model_Shipping_Carrier_SmartSend</class>
                    </smartsend>
                </carriers>
            </shipping>         
        </sales>
    </global>
    <default>
        <carriers>
            <smartsend>
                <active>1</active>
                <model>smartsend/shipping_carrier_smartsend</model>
                <description>Courier</description>
                <type>Carton</type>
                <handling_fee>none</handling_fee>
                <tailliftto>0</tailliftto>
                <tailliftfrom>0</tailliftfrom>
                <assurance>0</assurance>
                <showmethod>1</showmethod>
            </smartsend>
        </carriers>
    </default>
</config>