<?xml version="1.0"?>
<config>
	<sections>
		<carriers>
			<groups>
				<smartsend translate="label" module="smartsend">
					<label>Smart Send Shipping</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label>Shipping Descriptor</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment> What the customer sees as the 'shipped by' description.</comment>
						</title>
						<ssusername translate="label">
							<label>Smart Send Username</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								<![CDATA[Your Smart Send VIP Username, <a href='https://www.smartsend.com.au/vipClientEnquiry.cfm' target="_blank">CLICK HERE</a> to register.]]>
							</comment>
						</ssusername>
						<sspassword translate="label">
							<label>Smart Send Password</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sspassword>
						<type translate="label">
							<label>Type of goods</label>
							<frontend_type>select</frontend_type>
							<source_model>smartsend/shipping_config_types</source_model>
							<sort_order>15</sort_order>                            
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<tooltip>Type of package you are sending</tooltip>
						</type>
						<handling_type translate="label">
							<label>Calculate Handling Fee</label>
							<frontend_type>select</frontend_type>
							<source_model>shipping/source_handlingType</source_model>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<tooltip>Fixed amount or percentage of shipping cost</tooltip>
						</handling_type>
						<handling_fee translate="label">
							<label>Handling Fee</label>
							<frontend_type>text</frontend_type>
							<validate>validate-number validate-zero-or-greater</validate>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<tooltip>Leave blank if not applicable</tooltip>
						</handling_fee>
						<tailliftfrom translate="label">
							<label>Tail-Lift min. weight (pickup)</label>
							<frontend_type>text</frontend_type>
							<validate>validate-number validate-zero-or-greater</validate>
							<sort_order>20</sort_order>                            
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>If any items as heavy as this, request tail-lift truck at pickup</comment>
							<tooltip>In kilograms - set to zero for not needed.</tooltip>
						</tailliftfrom>
						<tailliftto translate="label">
							<label>Tail-Lift Delivery</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>25</sort_order>                            
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Tail-lift assistance at delivery if any items over 30kg.</comment>
						</tailliftto>
						<receipted translate="label">
							<label>Offer receipted delivery?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>                            
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<tooltip>Offer customer the option of receipted delivery.</tooltip>
						</receipted>
						<assurance translate="label">
							<label>Offer transport assurance?</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>35</sort_order>                            
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<tooltip>Offer customer the option of transport assurance.</tooltip>
						</assurance>
						<freepostcodes translate="label">
							<label>Free Shipping Postcodes</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Add postcodes to which shipping is free, separated by a space.</comment>
						</freepostcodes>
						<sort_order translate="label">
							<label>Sort Order</label>
							<frontend_type>text</frontend_type>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</sort_order>
						<specificerrmsg translate="label">
							<label>Displayed Error Message</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</specificerrmsg>
					</fields>
				</smartsend>
			</groups>
		</carriers>
	</sections>
</config>